# Python
*.pyc
*~
__pycahe__

# Env
.env
myvenv/
venv/

# Database
db.sqlite3

# Static folder at project root
/static/

# Windows
Thumbs.db*
ehthumbs*.db
[Db]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
